.normal {
  color: red;
  background: #f2799b;
}

.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 300px;
  margin: 0 auto;

  transform: translate(-50%, -50%);
  // border: 1px solid red;

  border-radius: @border-radius-base;
}
